<h1>Login</h1>

<mat-form-field color="accent">
  <input matInput placeholder="username" [(ngModel)]="username">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="password" type="password" [(ngModel)]="password">
</mat-form-field>

<button mat-flat-button color="primary" (click)="login()">login</button>

<a class="register" [routerLink]="['/register']" preserveQueryParams="true">or register</a>
