<h1>Register</h1>
 
<mat-form-field>
  <input matInput placeholder="username" [(ngModel)]="user.username">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="password" type="password" [(ngModel)]="user.password">
</mat-form-field>

<button mat-button (click)="register()">Register</button>