<h1>Skills</h1>

<div class="list">
  <div *ngFor="let skill of skills" [routerLink]="['/skills', skill.id]">
    <circle-progress
      [title]="'level ' + skill.level.level"
      [subtitle]="skill.level.points + ' points'"
      [percent]="skillService.calculatePercentage(skill.level)"
      [animation]="true"
      units=""></circle-progress>
    <div class="skill-name">{{ skill.name }}</div>
  </div>

  <div class="create" (click)="createSkill()">
    <div class="spacer">
      <div class="circle">
          <mat-icon>add</mat-icon>
      </div>
    </div>
    <div class="skill-name">Create</div>
  </div>
</div>