a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-family: 'Courgette', cursive;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

header {
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 20px 0;
}

.letter {
  display: inline-block;
}