<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>  
        <span *ngFor="let letter of 'finesse.'.split('')" class="letter">{{ letter }}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/skills"]'>Skills</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/follow"]'>Follow</a>
          </li>
          <!-- <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/counter"]'>Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Fetch data</a>
          </li> -->
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf='!userService.isLoggedIn(); else logoutButton'>
            <a class="nav-link text-dark" [routerLink]='["/login"]'>Login</a>
          </li>
          <ng-template #logoutButton>
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-dark" [routerLink]='["/"]' (click)="userService.logout()">Logout</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</header>