<h1>Users to follow</h1>

<ul class="users">
  <li *ngFor="let user of users">
    <span [routerLink]="['/user', user.username]">{{ user.username }}</span> 
    <button mat-icon-button class="plus-icon" (click)="followUser(user.username)" [hidden]="user.following">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button class="minus-icon" (click)="unfollowUser(user.username)" [hidden]="!user.following">
      <mat-icon>remove</mat-icon>
    </button>
  </li>
</ul>