h1 {
    text-align: center;
}

.users {
    list-style: none;
    max-width: 400px;
    margin: 0 auto;
    
    & > li {
        padding: 9px 0px;
        display: flex;
        border-bottom: 1px solid #442c2e;
        align-items: center;

        span {
            flex: 1 1 0;
            cursor: pointer;
        }
    }
}

button {
    transform: rotate(0deg);
    will-change: transform;
    outline: none;

    &:not([disabled]) {
        &.plus-icon:hover, &.plus-icon:focus {
            transform: rotate(90deg);
            transition: .5s transform ease-out;
        }

        &.minus-icon:hover, &.minus-icon:focus {
            transform: rotate(180deg);
            transition: .5s transform ease-out;
        }
    }
}

