<h1>Hello there!</h1>
<p>finesse. is a skill tracking app. You can add the skills that you want to learn, so you can see your progress over time.</p>

<p>Within your skill, you can add activities and give them the desired amount of points. When the activity is added to your skill, 
  you can add this activity whenever you're practicing this skill. If you do this consistently, you will see an upward progress
  in the learning process of your skill. Try finesse. now!</p>

  <iframe src="https://giphy.com/embed/xT9DPIBYf0pAviBLzO" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
