.go-back-bar {
    display: inline-block;
    color: var(--header-text-color);
    margin-bottom: 16px;
    cursor: pointer;
    outline: none;

    > *:first-child {
        margin-right: 8px;
        outline: none;
    }

    mat-icon {
        transform: rotateX(0deg)
    }

    &:hover mat-icon, &:focus mat-icon {
        transform: rotateX(180deg);
        transition: 1s transform ease;
    }
}

.skill-header {
    display: flex;
    flex-direction: row;

    h1 {
        flex-grow: 1;
    }
}

.content {
    display: flex;
    flex-direction: row-reverse;

    .info-pane {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        min-width: 350px;
        
        .circle-wrapper {
            display: inline-block;
            border-radius: 50%;
            margin: 0 auto;
            box-shadow: rgba(0, 0, 0, 0.2) 0 3px 20px 0;
        }
    }

    .activity-pane {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: end;
        }

        .activity-header {
            display: flex;

            h2 {
                flex-grow: 1;
            }

            button {
                margin-left: 8px;
                outline: none;
            }
        }
        
        .activity-chips {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 32px;

            > div {
                color: var(--secondary-text-color);
                background-color: var(--primary-light);
                height: 48px;
                padding: 4px;
                padding-left: 16px;
                display: inline-block;
                border-radius: 24px;
                box-shadow: rgba(0, 0, 0, 0.2) 0 3px 20px 0;
                margin: 8px;
                transition: .25s box-shadow ease;
                will-change: box-shadow;

                > *:not(:first-child) {
                    margin-left: 12px;
                }

                .points {
                    font-family: var(--secondary-font);
                    font-weight: bold;

                    &:after {
                        content: 'pts';
                    }
                }

                &:hover, &:focus {
                    box-shadow: rgba(0, 0, 0, .25) 0 6px 30px 0;
                }

                .buttons {
                    background-color: var(--background-color);
                    color: var(--secondary-text-color);
                    display: inline-block;
                    border-radius: 20px;
                    
                    button {
                        transform: rotate(0deg);
                        will-change: transform;
                        outline: none;
                    }
                }


                button:not(.edit-button):hover, button:not(.edit-button):focus {
                    transform: rotate(90deg);
                    transition: .5s transform ease-out;
                }
            }
        }

        .activity-list {
            background-color: var(--primary);
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 3px 20px 0;
            overflow: hidden;
            
            .activity-item, .header {
                display: flex;

                .points {
                    width: 100px;
                }

                .activity {
                    flex: 1 0 0;
                }

                .delete {
                    width: 60px;
                    text-align: end;
                }
            }

            .header {
                font-family: var(--secondary-font);
                color: var(--secondary-text-color);
                padding: 16px 16px 16px 32px;
                background-color: var(--primary-light);
                box-shadow: rgba(0, 0, 0, 0.2) 0 -5px 20px 0;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            .activity-item {
                border-bottom: 1px solid var(--background-color);
                padding: 16px 0 16px 16px;
                margin: 0 16px;
                align-items: center;

                .points {
                    font-family: var(--secondary-font);
                    color: var(--secondary-text-color);
                    font-weight: bold;
                }

                .delete {
                    margin: -10px 0;
                    color: var(--secondary-text-color);
                    
                    button {
                        outline: none;
                        transition: .25s color ease;
                        
                        &:hover, &:focus {
                            color: #ba000d;
                        }
                    }

                }

                &:last-child {
                    border-bottom: none;
                }
            }
            
            .activity-content {
                max-height: 300px;
                overflow: auto;
            }
        }
    }
}

@media (max-width: 767px) {
    .content {
        display: block;

        .pane {
            margin-bottom: 32px;
            
            &.info-pane {
                margin-right: 0;
            }
            
            h2 {
                text-align: center;
            }

            .activity-header button {
                position: absolute;
                right: 16px;
            }
        }
        
        .mobile-stretch {
            margin: 0 -16px;
        }
    }

    .hide-mobile {
        display: none;
    }
}