<div class="go-back-bar" [routerLink]="['/skills']">
  <button mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>go back</span>
</div>

<div *ngIf="skill; else loading">
  <div class="skill-header">
    <h1>{{ skill.name }}</h1>
    <button mat-icon-button (click)="editSkill()" *ngIf="editing">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteSkill()" *ngIf="editing">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  
  <div class="content">
    <div class="activity-pane pane">
      <div class="activity-header">
        <h2>Add activity</h2>
        <button mat-icon-button (click)="toggleEditing()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="activity-chips mobile-stretch">
        <div *ngFor="let activity of activities">
          <span>{{ activity.name }}</span>
          <span class="points">{{ activity.points }}</span>
          <div class="buttons">
            <button mat-icon-button (click)="executeAcitivity(activity.id)" *ngIf="!editing">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button (click)="editActivity(activity)" class="edit-button" *ngIf="editing">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteActivity(activity)" class="edit-button" *ngIf="editing">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="editing || activities == null || activities.length === 0">
          <span>create activity</span>
          <div class="buttons">
            <button mat-icon-button (click)="createActivity()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <h2>Recent activities</h2>
      <div class="activity-list">
        <div class="header">
          <span class="points">points</span>
          <span class="activity">activity</span>
          <span class="timestamp hide-mobile">date</span>
          <span class="delete"></span>
        </div>
        <div class="activity-content" data-simplebar>
            <div class="activity-item" *ngFor="let recentActivity of recentActivities">
              <span class="points">{{ recentActivity.activity.points > 0 ? '+' : '' }}{{ recentActivity.activity.points }}pts</span>
              <span class="activity">{{ recentActivity.activity.name }}</span>
              <span class="timestamp hide-mobile">{{ time(recentActivity.created) }}</span>
              <span class="delete"><button mat-icon-button (click)="deleteRecentActivity(recentActivity.id)"><mat-icon>delete</mat-icon></button></span>
            </div>
            <div class="activity-item" *ngIf="recentActivities == null || recentActivities.length === 0">
              no recent activties.
            </div>
        </div>
      </div>
    </div>
    <div class="info-pane pane">
      <h2>Stats</h2>
      <div class="circle-wrapper">
        <circle-progress
          [title]="'level ' + skill.level.level"
          [subtitle]="skill.level.points + ' points'"
          [percent]="skillService.calculatePercentage(skill.level)"
          units=""></circle-progress>
        </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>loading...</p>
</ng-template>