<h2>{{ data.isCreating ? 'Create' : 'Edit' }} skill</h2>

<div class="content">
    <mat-form-field>
        <input matInput placeholder="name" [(ngModel)]="data.skill.name">
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="points" type="number" [(ngModel)]="data.skill.points">
    </mat-form-field>

    <mat-form-field>
        <mat-label>based on existing skill</mat-label>
        <mat-select [(ngModel)]="data.skill.base_id" (selectionChange)="setSkillname($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let skill of skills" [value]="skill.id">
                {{skill.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="buttons">
  <button mat-button [mat-dialog-close]="data.skill">Save</button>
</div>