<h2>{{ data.isCreating ? 'Create' : 'Edit' }} activity</h2>

<div class="content">
    <mat-form-field>
        <input matInput placeholder="name" [(ngModel)]="data.activity.name">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="points" [(ngModel)]="data.activity.points" type="number">
    </mat-form-field>
</div>

<div class="buttons">
  <button mat-button [mat-dialog-close]="data.activity">Save</button>
</div>