/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
}

::selection {
    background: var(--primary-dark);
}

.simplebar-track.simplebar-vertical {
    margin: 15px 3px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar {
    &:before {
        background-color: var(--primary-dark);
    }

    &.simplebar-visible:before {
        opacity: 1;
    }
}

.mat-input-element {
    caret-color: var(--secondary-text-color);
}

.snackbar {
    background-color: var(--secondary-text-color);

    > .mat-simple-snackbar {
        color: #fff7f4;
    }
}

mat-form-field.mat-form-field.mat-focused .mat-form-field-wrapper .mat-form-field-label {
    color: var(--secondary-text-color);
}

mat-form-field.mat-form-field.mat-focused .mat-form-field-wrapper .mat-form-field-ripple {
    background-color: var(--secondary-text-color);
}