// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&amp;subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Courgette|Nunito&display=swap');
@import '~@angular/material/theming';


$general-typography: mat-typography-config(
  $font-family: '"Nunito", "Helvetica Neue", sans-serif'
);

@include mat-core($general-typography);

$palette: (
    50 : #fffcfb,
    100 : #fff8f5,
    200 : #fff3ef,
    300 : #feeee8,
    400 : #feeae3,
    500 : #fee6de,
    600 : #fee3da,
    700 : #fedfd5,
    800 : #fedbd1,
    900 : #fdd5c8,
    A100 : #eadcf3,
    A200 : #e2cfef,
    A400 : #d8c0e8,
    A700 : #ceb3e1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

body {
    --primary: #fee6de;
    --primary-light: #feeee8;
    --primary-dark: #fdd5c8;
    --accent: #e2cfef;
    --background-color: #fff8f5;
    --text-color: rgba(0, 0, 0, .87);
    --secondary-text-color: #442c2e;
    --primary-font: "Nunito", "Helvetica Neue", sans-serif;
    --secondary-font: 'Courgette', cursive;
}

$primary: mat-palette($palette);
$accent: mat-palette($palette, A200, A100, A400);
$danger: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $danger);

@include angular-material-theme($theme);