.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    > * {
        padding: 10px;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 20px 0;
        border-radius: 5px;
        transition: .25s box-shadow ease, .25s transform ease-out;
        background-color: white;
        animation: .25s fade-in;
        will-change: opacity, transform, box-shadow;
        outline: none;

        .skill-name {
            text-align: center;
            font-size: 16pt;
        }
        
        &:hover, &:focus {
            box-shadow: rgba(0, 0, 0, .25) 0 6px 30px 0;
        }

        &:focus {
            transform: scale(.9);
        }
    }
    
}

h1 {
    text-align: center;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.spacer {
    width: 242px;
    height: 242px;
}