<h1>{{ username }}</h1>

<div *ngIf="skills == null || skills.length === 0">
    no skills yet.
</div>

<div class="list">
    <div *ngFor="let skill of skills">
      <circle-progress
        [title]="'level ' + skill.level.level"
        [subtitle]="skill.level.points + ' points'"
        [percent]="skillService.calculatePercentage(skill.level)"
        [animation]="true"
        units=""></circle-progress>
    <div class="skill-name">{{ skill.name }}</div>
</div>




